<%= form_for(assignment) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :submitted_to %>
    <%= f.text_field :submitted_to %>
  </div>

   <div class="field">
    <%= f.label :roll_no %>
    <%= f.number_field :roll_no %>
  </div>

  <div class="field">
    <%= f.label :assignment_no %>
    <%= f.select :assignment_no,['1','2','3'] %>
  </div>

  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
