
<div class="row faltu"></div>

<div class="row">
<div class="small-12 large-7 columns "><h1> Student Portal</h1>
	<%= link_to   "Submit Assignment", assignments_path, class: "button radius" %><br>
	<%= link_to   "Submit Mc Certies", teachers_path, class: "button radius" %></div>
<div class="small-12 large-5 columns bar"><h1>Notice</h1>


    <% @circulars.each do |circular| %>
     <ul>
     <li class= "list"><%= circular.subject %><br><span class="link"><%= link_to "Download", circular.atach.url %></span>
     </li>
     </ul>
  
<% end %></div>
</div>
<p id="notice"><%= notice %></p>





