<%= form_for(circular) do |f| %>
  <% if circular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(circular.errors.count, "error") %> prohibited this circular from being saved:</h2>

      <ul>
      <% circular.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :branch %>
    <%= f.text_field :branch %>
  </div>

  <div class="field">
    <%= f.label :group %>
    <%= f.text_field :group %>
  </div>

  <div class="field">
    <%= f.label :attach %>
    <%= f.file_field :atach %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
