<%= form_for(circular) do |f| %>
  <% if circular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(circular.errors.count, "error") %> prohibited this circular from being saved:</h2>

      <ul>
      <% circular.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, ['first year','secont year','third year','final year']  %>
  </div>

  <div class="field">
    <%= f.label :branch %>
    <%= f.select :branch ,  ['Computer Science', 'Information Technology', 'Mechanical Engineering','Civil Engineering','Electronics and Communication','Electrical Engineering','Production Engineering','Applied Science'] %>
  </div>

  

  <div class="field">
    <%= f.label :attach %>
    <%= f.file_field :atach %>
  </div>

  <div class="actions ">
    <%= f.submit 'submit', :class => 'button radius' %>
  </div> 
<% end %>
